.ticket-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 184px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px 0;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  
    &__price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5em;
      color: #2196F3;
      font-weight: 600;
      img {      
        width: 119px;
        height: 41px;
      }
    }

    &__info {
      &_line {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
      }
      .transfer {
        color: #A0B0B9;
      }
    }

    .transfer {
      text-transform: uppercase;
    } 
    
    .graytext {
      color: #A0B0B9;
    }
  }
  